@model IEnumerable<YourAppName.Models.Post>

@{
    ViewData["Title"] = "Blog Posts";
}

<h2>All Blog Posts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Author</td>
                <td>
                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary btn-sm">Read Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>